body {
    background-color: #F3F5FC;
    width: 1440px;
    height: 1024px;
}

#logo-container
{
    width: 120px;
    height: 48px;
    position: fixed;
    top: 40px;
    left: 40px;
}

#logo
{
    position: relative;
    left: 44px;
}

