@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body {
    background-color: #F3F5FC;
    width: 1440px;
    height: 1024px;
}

#logo-container
{
    width: 120px;
    height: 48px;
    position: fixed;
    top: 40px;
    left: 40px;
}

#logo
{
    position: relative;
    left: 44px;
}

#text 
{
    resize: none;
    width: 577px;
    height: 48px;
    position: relative;
    top: 168px;
    left: 240px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    background-color: transparent;
    border-color: transparent;
}

#text::placeholder,
#text
{
    color: #0A3871;
}

